<link rel="shortcut icon" href="/log/favicon.ico">
<script>
document.addEventListener('DOMContentLoaded', () => {
    const header = document.getElementsByClassName('page-header')[0];
    const div = document.createElement('div');
    div.setAttribute('class', 'index');
    div.innerHTML = '<a href="/log/"><i class="bi bi-list"></i></a>';
    header.appendChild(div);
});
</script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\(','\\)']],
      processEscapes: true
    },
    CommonHTML: { matchFontHeight: false },
    displayAlign: "left",
    displayIndent: "2em",
    TeX: {
      equationNumbers: { autoNumber: "AMS" },
    }
  });
</script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.6/MathJax.js?config=TeX-AMS_CHTML"></script>
